
trigger:
- main

pool: Ashu-pool
jobs: 
- job: Linting
  displayName: Eslint
  steps:
  
  - task: PowerShell@2
    displayName: Install deps
    inputs:
      targetType: inline
      script: |
        npm ci
        npm install --save-dev eslint eslint-config-xo

  - task: PowerShell@2
    displayName: ESLint
    continueOnError: true
    inputs:
      targetType: inline
      script: |
        npx eslint .

  - task: PowerShell@2
    displayName: Yaml_Lint
    continueOnError: true
    inputs:
      targetType: 'inline'
      script: |
        python -m pip install --user yamllint
        python -m yamllint $(System.DefaultWorkingDirectory)


  - task: PowerShell@2
    displayName: Stylelint
    continueOnError: true
    inputs:
      targetType: 'inline'
      script: |
        npm install -g stylelint
         npm install -g stylelint-config-standard 
        stylelint  $(System.DefaultWorkingDirectory)/src --config stylelint.config.mjs


- job: Build_Artifacts
  dependsOn: Linting
  steps:
  - task: NodeTool@0
    inputs:
      versionSource: 'spec'
      versionSpec: '16.x'

  - task: Npm@1
    displayName: npm_install
    inputs:
      command: 'install'
      workingDir: '$(System.DefaultWorkingDirectory)'

  - task: Npm@1
    displayName: Build
    inputs:
      command: 'custom'
      workingDir: '$(System.DefaultWorkingDirectory)'
      customCommand: 'run build'

  - task: CopyFiles@2
    displayName: Copy build output to artifact staging
    inputs:
      SourceFolder: '$(System.DefaultWorkingDirectory)/build'
      Contents: '**'
      TargetFolder: '$(Build.ArtifactStagingDirectory)'    

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container' 